.AdvMainContainer {
    background-color: #0119ff;
    height: 100%;
    display: grid;
    grid-template-areas: 'left right';
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}
.AdvHeader h1 {
    color: rgb(231, 51, 247);
    font-size: 4vh;
    text-shadow: -1px 0 black, 2px 3px 6px black, 2px 8px 9px black, 3px 2px black;
    font-family: Arial;
    font-size: 3vh;
    grid-area: right;
    text-align: right;
    font-size: 40px;
}
.AdvTitleContent {
    text-align: right;
    font-weight: bold;
    font-size: 25px;
}
.AdvContent{
    font-family: fantasy;
    color: #fff;
    width: 500px;
    position: relative;
    left: 150px;
    text-align: left;
}
.AdvFormMain {
    grid-area: left;
    text-align: left;
    width: 300px;
    border: 15px solid #0119ff;
    padding: 50px;
    margin: 20px;
    position: relative;
    bottom: 100px;
    font-size: 20px;
}
.AdvFormField {
    width: 400px;
    border: 3px solid black;
    padding: 25px 25px 25px 5px;
    border-radius: 0 15vh 0 0;
    font-size: 0;
    background-color: aquamarine;
    box-shadow: 5px 10px 8px 10px;
}
.AdvForm {
    font-size: 0px;
}
.AdvFormContent{
    font-weight: bold;
    font-size: 15px;
}
.AdvFormLabel{
    font-family: fantasy;
    color: #fff;
    text-shadow: 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000, -3px 0 0 #000;
    font-size: 25px;
}
label {
    font-size: large;
    font-weight: bold;
    font-family: cursive;
    text-shadow: 0.5px 0 0 #000, 0 -0.5px 0 #000, 0 0.5px 0 #000, -0.5px 0 0 #000;
}
input{
        grid-column: controls;
        grid-row: auto;
        padding: .4em;
        margin-left: 120px;
        display: block;
        position: relative;
        bottom: 25px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #000000;
}
label{
    margin-right: 40px;
}
button{
    position: relative;
    left: 290px;
    background: red;
    width: 150px;
    border: 0;
    padding: 20px;
    margin: 0;
    font-family: fantasy;
    color: #fff;
    height: 53px;
    border: 3px solid black;
    font-size: 20px;
    border-radius: 0 0 0 9vh;
}
@media screen and (max-width: 1350px) {
    .AdvMainContainer {
        height: 100%;
    }
}

@media screen and (max-width: 700px)  {
    .AdvMainContainer {
        background-color: #0119ff;
        height: 100%;
        display: grid;
        grid-template-areas: 'left right';
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 80px;
        grid-gap: 5px;
    }
    .AdvHeader h1 {
        color: rgb(231, 51, 247);
        font-size: 4vh;
        text-shadow: -1px 0 black, 2px 3px 6px black, 2px 8px 9px black, 3px 2px black;
        font-family: Arial;
        font-size: 3vh;
        grid-area: right;
    }
    .AdvFormMain {
        grid-area: left;
    }
    
}