.AboutMainContainer {
    background-color: #0119ff;
    height: 100vh;

}

.AbtSecWrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 4vh;
    column-gap: 4vh;
}


.AbtSec {
    z-index:10;
}


.AbtSec-1 {
    z-index: 1;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0 -4vh -12vh 4vh;
}

.AbtSec-2 {
    z-index: 3;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0 10vh 4vh 8vh;
}

.AbtSec-3 {
    z-index: 1;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 9vh 8vh 0vh 8vh;
}

.AbtSec-4 {
    z-index: 2;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: -4vh 20vh 4vh -4vh;
}

.AbtHeader {
    grid-column: 1 / 3; 
    display: grid;
}
.AbtHeader h1 {
    color: rgb(231, 51, 247);
    font-size: 4vh;
    text-shadow: -1px 0 black, 2px 3px 6px black, 2px 8px 9px black, 3px 2px black;
    font-family: Arial;
    font-size: 6vh;
    grid-column: 3 / 3; 
}


.AbtSecTile {
    background-color: rgb(250, 238, 86);
    border-radius: 3vh 3vh 0 0;
}

.AbtSecTile h2{
    background-color: rgb(255, 255, 255);
    border-radius: 3vh 3vh 0 0;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin: 0;
    font-size: 6vh;

}

.AbtSecTile2 h2{
    color: rgb(231, 51, 247);
    font-size: 4vh;
    text-shadow: -1px 0 black, 2px 3px 6px black, 2px 8px 9px black, 3px 2px black;
    font-family: Arial;
    font-size: 6vh;
    margin: 0 0 2vh 0;


} 

@media screen and (max-width: 1350px) {
    .AboutMainContainer {
        height: 100%;
    }
}

@media screen and (max-width: 700px)  {
    .AboutMainContainer {
        background-color: #0119ff;
        height: 100%;
    }
    .AbtSecWrapper {
        display: grid;
        grid-template-rows: 1fr ;
        grid-template-columns: 1fr;
        row-gap: 0;
        column-gap: 0;
    }
    .AbtSec-1 {
        z-index: inherit;
        grid-column: auto;
        grid-row: auto;
        margin: auto;
        padding: 2vh;

    }
    .AbtSec-2 {
        z-index: inherit;
        grid-column: auto;
        grid-row: auto;
        margin: auto;
        padding: 2vh;
    }
    .AbtSec-3 {
        z-index: inherit;
        grid-column: auto;
        grid-row: auto;
        margin: 0;
        padding: 2vh;

    }
    .AbtSec-4 {
        z-index: inherit;
        grid-column: auto;
        grid-row: auto;
        margin: auto;
        padding: 2vh;

    }
    .AbtHeader {
        display: grid;
    }
    .AbtHeader h1 {
        color: rgb(231, 51, 247);
        font-size: 4vh;
        text-shadow: -1px 0 black, 2px 3px 6px black, 2px 8px 9px black, 3px 2px black;
        font-family: Arial;
        font-size: 3vh;
        grid-column: 2 / 3; 
    }
    
    .AbtSecTile {
        background-color: rgb(250, 238, 86);
        background-color: transparent;
        border-radius: 4vh 4vh 0 0;
    }
    
    .AbtSecTile h2{
        background-color: rgb(255, 255, 255);
        border-radius: 5vh 5vh 0 0;
        border-bottom-style: solid;
        border-bottom-color: black;
        font-size: 3vh;
        margin: 0;
    }
    .AbtSecTile div {
        background-color: rgb(250, 238, 86);
        border-bottom-style: solid;
        border-bottom-color: black;
        margin: 0;
        font-size: 2vh;
        padding: 2vh;
    }
    
    
    .AbtSecTile2 h2{
        color: rgb(231, 51, 247);
        text-shadow: -1px 0 black, 2px 3px 6px black, 2px 8px 9px black, 3px 2px black;
        font-family: Arial;
        font-size: 3vh;
        margin-bottom: 1vh;
    }

    .AbtSecTile2 div{
        color: white;
        margin: 0;
        font-size: 2vh;
        padding: 2vh;
    }
    
}