
.donationMainContainer {
    background-color: #0119ff;
    height: 100%;

}

.donationHeader {
    grid-column: 1 / 3;
    display: grid;
}

.donationHeader h1 {
    color: rgb(231, 51, 247);
    font-size: 4vh;
    text-shadow: -1px 0 black, 2px 3px 6px black, 2px 8px 9px black, 3px 2px black;
    font-family: Arial;
    font-size: 6vh;
    grid-column: 3 / 3; 
}

.donationcontainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 4vh;
    column-gap: 4vh;
}


.brndbox {
    width: 100%;
    box-sizing: content-box;
    box-shadow: -1px 0 black, 2px 3px 6px black, 2px 8px 9px black, 20px 10px black;
}

.ptrn1 {
    height: 75px;
    box-sizing: border-box;

}

.yt1 {
    height: 75px;
}

.ptrn {
    display: grid;
    width: 100%;
    margin: 40px auto;
    box-shadow: -1px 0 black, 2px 3px 6px black, 2px 8px 9px black, 20px 10px black;


}

.perk {
    display: grid;
    height: 40px;
    -webkit-text-fill-color: blue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font: 1.30em sans-serif;
}

.box {
    /* position: relative; */
    width: calc(300px - 20px);
    height: calc(615px - 30px);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 70px;
    border: 4px solid black;
    box-shadow: 10px 10px 0 black, 2px 3px 6px black, 2px 8px 9px black, 5px 10px black;
}

.buyMeCoff {
    background: #fced22;
}

.patbox {
    background: #f97449;
}

.ytbox {
    background-color: #ff696a;
}

.btn {
    text-decoration: none;
    padding: 5px 25px;
    font-size: 1.50rem;
    font-family: fantasy;
    position: relative;
    left: 63px;
    top: 70px;
    margin: 60px;
    background: white;
    border-style: solid;
    border-color: black;
    box-shadow: 1px 0 black, 2px 3px 6px black, 2px 8px 9px black, 5px 10px black;
    color: red;
    border-radius: 30px;
    text-align: right;
    transition: transform 0.8s ease;

}

.btn::after,
.btn::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #000;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: translate(-12px, -12px);
}

.btn:hover::after {
    transform: translate(6px, 6px);
}

.btn:hover::before {
    transform: translate(12px, 12px);
}

@media screen and (max-width: 800px) {
    .donationMainContainer {
        background-color: red;
    }
    
    .donationHeader {
        grid-column: 1 / 3;
        display: grid;
    }
    
    .donationHeader h1 {
        color: rgb(231, 51, 247);
        font-size: 4vh;
        text-shadow: -1px 0 black, 2px 3px 6px black, 2px 8px 9px black, 3px 2px black;
        font-family: Arial;
        font-size: 6vh;
        grid-column: 3 / 3; 
    }


    .donationcontainer {
        display: grid;
        grid-template-rows: 1fr 1fr 1f;
        grid-template-columns: 1fr;
        row-gap: 4vh;
        column-gap: 4vh;
    }
}