.landingMainSection {
    height: 100vh;
    background-color: #0119ff;

}

.landingMainLogo {
    position: absolute;
    margin: auto;
    margin-bottom: 0;
    width: 45%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 15vh;
    z-index: 10;

}

.nightSemiSky {
    position: absolute;
    margin: auto;
    margin-bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.starImg {
    position: absolute;
    z-index: 3;
    margin: auto;
    margin-bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.treeFirst {
    position: absolute;
    z-index: 5;
    margin: auto;
    margin-bottom: 0;
    width: 78%;
    top: 0;
    left: 3vh;
    right: 0;
    bottom: 0;
}
