.landingMainSection {
    height: 100vh;
    background-color: #0119ff;
    background-image: linear-gradient(#010457, #0119ff);

}

.landingMainLogo {
    position: absolute;
    margin: auto;
    margin-bottom: 0;
    width: 65%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 16vh;
    z-index: 10;

}

.nightSemiSky {
    position: absolute;
    z-index: 5;
    margin: auto;
    margin-bottom: 0;
    width: 88%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.starImg {
    position: absolute;
    z-index: 6;
    margin: auto;
    margin-bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.starImg1 {
    position: absolute;
    z-index: 6;
    margin: auto;
    margin-bottom: 0;
    width: 80%;
    top: 0;
    left: 0;
    right: 20vh;
    bottom: 0;
    opacity: 0.7;
}
.treeThird {
    position: absolute;
    z-index: 7;
    margin: auto;
    margin-bottom: 0;
    width: 82%;
    top: 0;
    left: 1vh;
    right: 0;
    bottom: 1vh;
    opacity: 0.4;

}

.treeSecond {
    position: absolute;
    z-index: 8;
    margin: auto;
    margin-bottom: 0;
    width:80%;
    top: 0;
    left: 1vh;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}

.treeFirst {
    position: absolute;
    z-index: 9;
    margin: auto;
    margin-bottom: 0;
    width: 88%;
    height: 80%;
    top: 0;
    left: 3vh;
    right: 0;
    bottom: 0;
    border-top-left-radius: 90%;
    border-top-right-radius: 90%;

}

.backDrop1 {
    position: absolute;
    z-index: 1;
    margin: auto;
    margin-bottom: 0;
    width: 99.5%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.backDrop2 {
    position: absolute;
    z-index: 1;
    margin: auto;
    margin-bottom: 0;
    width: 99.5%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.shootingStar {
    position: absolute;
    z-index: 10;
    margin: auto;
    margin-bottom: 0;
    width: 40%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 35vh;
}

.navbar{
    position: absolute;
    z-index: 14;
    width: 100%;
    top: 2vh;

}